apiVersion: apps/v1
kind: Deployment
metadata:
  annotations:
    tad.gitops.set/image: ".spec.template.spec.containers[0].image"
    tad.gitops.get/image: ".spec.template.spec.containers[0].image"
    tad.gitops.set/replicas: ".spec.replicas"
    tad.gitops.get/replicas: ".spec.replicas"
  name: backend-tests-go-oeqnvpue
spec:
  replicas: 1
  template:
    spec:
      containers:
        - image: quay.io/rhtap_qe/backend-tests-go-oeqnvpue:412e0fa37d4b64ee0270ce024893b4a157a59372@sha256:d84b48052517f13decc65d889048a2aa73f4b905000ef200961a6373a3bbd3e6
          name: container-image
